Food Survey Data Cleaning

In [25]:
import pandas as pd

# Specify the file path of the CSV file
csv_file_path = r'C:\Users\danie\OneDrive\Desktop\food_coded.csv'

In [26]:
df = pd.read_csv(csv_file_path)

In [27]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [28]:
# Find columns with missing values and how many values are missing
cols_miss_count = [col for col in df.columns
                     if df[col].isnull().any()]
for i in cols_miss_count:
    print(i,df[i].isnull().sum())

GPA 2
calories_day 19
calories_scone 1
comfort_food 1
comfort_food_reasons 1
comfort_food_reasons_coded 19
cook 3
cuisine 17
diet_current 1
drink 2
eating_changes 3
employment 9
exercise 13
father_education 1
father_profession 3
fav_cuisine 2
fav_food 2
food_childhood 1
healthy_meal 1
ideal_diet 1
income 1
life_rewarding 1
marital_status 1
meals_dinner_friend 3
mother_education 3
mother_profession 2
on_off_campus 1
persian_food 1
self_perception_weight 1
soup 1
sports 2
tortilla_calories 1
type_sports 21
weight 2

In [29]:
# This command fills in the null values with the mean for columns containing numbers only
numeric_columns = df.select_dtypes(include='number').columns

df.loc[:, numeric_columns] = df.loc[:, numeric_columns].fillna(df.loc[:, numeric_columns].mean())

In [30]:
# Remove rows with missing values
for i in cols_miss_count:
    df.dropna(subset=[i], inplace=True)

In [31]:
# GPA column is not pure numbers
df['GPA'].value_counts()

3.5           11
3             10
3.7           10
3.3            9
3.2            7
3.8            6
3.4            6
3.6            5
2.8            4
3.9            4
4              2
3.1            2
3.83           2
3.68           1
3.75           1
2.6            1
2.4            1
3.92           1
3.73           1
Unknown        1
3.77           1
3.63           1
3.79 bitch     1
3.65           1
3.67           1
3.35           1
3.605          1
3.89           1
3.654          1
3.87           1
2.2            1
3.904          1
2.25           1
3.882          1
Name: GPA, dtype: int64

In [32]:
numeric_columns

Index(['Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food_reasons_coded', 'cook',
       'cuisine', 'diet_current_coded', 'drink', 'eating_changes_coded',
       'eating_changes_coded1', 'eating_out', 'employment', 'ethnic_food',
       'exercise', 'father_education', 'fav_cuisine_coded', 'fav_food',
       'fries', 'fruit_day', 'grade_level', 'greek_food', 'healthy_feeling',
       'ideal_diet_coded', 'income', 'indian_food', 'italian_food',
       'life_rewarding', 'marital_status', 'mother_education',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'veggies_day', 'vitamins',
       'waffle_calories'],
      dtype='object')

In [33]:
# We will check and clean each column to prepare it for data analysis (make sure int type as well)

In [34]:
df['GPA'].value_counts()

3.5           11
3             10
3.7           10
3.3            9
3.2            7
3.8            6
3.4            6
3.6            5
2.8            4
3.9            4
4              2
3.1            2
3.83           2
3.68           1
3.75           1
2.6            1
2.4            1
3.92           1
3.73           1
Unknown        1
3.77           1
3.63           1
3.79 bitch     1
3.65           1
3.67           1
3.35           1
3.605          1
3.89           1
3.654          1
3.87           1
2.2            1
3.904          1
2.25           1
3.882          1
Name: GPA, dtype: int64

In [35]:
df.dropna(subset=['GPA'],inplace=True)
df['GPA_new'] = df['GPA'].str.replace(".","")
df = df[~df['GPA_new'].str.isdigit() == False]
df['GPA'] = df['GPA'].astype(float)
df.drop('GPA_new',axis=1,inplace=True)

C:\Users\danie\AppData\Local\Temp\ipykernel_27228\2449642085.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['GPA_new'] = df['GPA'].str.replace(".","")

In [22]:
df['GPA'].value_counts()

3.500    11
3.700    10
3.000    10
3.300     9
3.200     7
3.800     6
3.400     6
3.600     5
2.800     4
3.900     4
4.000     2
3.830     2
3.100     2
3.350     1
3.920     1
3.770     1
3.680     1
2.600     1
3.730     1
3.630     1
3.670     1
3.750     1
2.400     1
3.605     1
3.890     1
3.650     1
3.654     1
3.870     1
2.200     1
3.904     1
2.250     1
3.882     1
Name: GPA, dtype: int64

In [75]:
# Can use a for loop to check each column OR check 1 by 1
for column in df.columns:
    value_counts = df[column].value_counts()
    print(f"Value counts for column {column}:")
    print(value_counts)
    print () #space for readability

Value counts for column GPA:
3.500    11
3.700    10
3.000    10
3.300     9
3.200     7
3.800     6
3.400     6
3.600     5
2.800     4
3.900     4
4.000     2
3.830     2
3.100     2
3.350     1
3.920     1
3.770     1
3.680     1
2.600     1
3.730     1
3.630     1
3.670     1
3.750     1
2.400     1
3.605     1
3.890     1
3.650     1
3.654     1
3.870     1
2.200     1
3.904     1
2.250     1
3.882     1
Name: GPA, dtype: int64

Value counts for column Gender:
1    61
2    36
Name: Gender, dtype: int64

Value counts for column breakfast:
1    87
2    10
Name: breakfast, dtype: int64

Value counts for column calories_chicken:
610    49
720    22
430    21
265     5
Name: calories_chicken, dtype: int64

Value counts for column calories_day:
3.000000    53
4.000000    16
3.028302    14
2.000000    14
Name: calories_day, dtype: int64

Value counts for column calories_scone:
420.000000    62
315.000000    19
980.000000    15
505.241935     1
Name: calories_scone, dtype: int64

Value counts for column coffee:
2    70
1    27
Name: coffee, dtype: int64

Value counts for column comfort_food:
none                                                       1
ice cream, cookies, ice cream                              1
chips, ice cream, fruit snacks                             1
carrots, plantain chips, almonds, popcorn                  1
pizza, pasta, mac and cheese                               1
                                                          ..
chocolate, popcorn, ice cream                              1
chocolate, chips, candy                                    1
pizza, doughnuts, mcdonalds                                1
mac n cheese, peanut butter and banana sandwich, omelet    1
rice, potato, seaweed soup                                 1
Name: comfort_food, Length: 97, dtype: int64

Value counts for column comfort_food_reasons:
boredom                                              5
Boredom                                              3
boredom, sadness                                     2
stress, boredom                                      2
Stress and boredom                                   2
                                                    ..
All of the above; sadness, boredom and confusion     1
Usually if I'm sad or depressed.                     1
No reasons                                           1
boredom, stress                                      1
Loneliness / Homesick / Sadness                      1
Name: comfort_food_reasons, Length: 85, dtype: int64

Value counts for column comfort_food_reasons_coded:
2.000000    36
1.000000    19
3.000000    15
2.698113    15
9.000000     3
5.000000     3
4.000000     2
7.000000     2
6.000000     1
8.000000     1
Name: comfort_food_reasons_coded, dtype: int64

Value counts for column cook:
3.000000    40
2.000000    27
4.000000    12
1.000000    11
5.000000     6
2.786885     1
Name: cook, dtype: int64

Value counts for column cuisine:
1.000000    69
1.388889    12
2.000000     9
3.000000     2
6.000000     2
4.000000     2
5.000000     1
Name: cuisine, dtype: int64

Value counts for column diet_current:
eat good and exercise                                                                                                               1
I try to eat as healthy as possible. 3 meals a day that are well-balanced.                                                          1
I used to eat whatever but since i've come to college i try to eat fruits and vegetables everyday. I also avoid fried foods.        1
i currently eat a lot of salad, but do not eat 3 times a day nor eat breakfast                                                      1
I try to eat healthy but sometimes drink soda pop and I enjoy desserts. harder to eat healthy when I am at school.                  1
                                                                                                                                   ..
I eat three meals per day usually. I eat a lot of sandwiches and fruit.                                                             1
I do not get to eat as well as I did.  I wish I ate better, but in college it is hard because of money.                             1
I eat out more often then not. I try to make sure when I eat out it isn't fast food, but instead something healthy like Panera.     1
A lot of rice and veggies, eggs for breakfast, chicken is usually the only kind of meat I eat.                                      1
Rice, oatmeal, and tea                                                                                                              1
Name: diet_current, Length: 97, dtype: int64

Value counts for column diet_current_coded:
2    46
1    39
3    10
4     2
Name: diet_current_coded, dtype: int64

Value counts for column drink:
2.000000    51
1.000000    45
1.560976     1
Name: drink, dtype: int64

Value counts for column eating_changes:
eat faster                                                                                                         1
As an athlete it is important to fuel my body with important foods only.                                           1
i eat healthier all around                                                                                         1
I have been eating healthier especially vegetables and proteinous food                                             1
less healthy because of less options, money and time.                                                              1
                                                                                                                  ..
I have eaten bigger meals.                                                                                         1
I do not eat as many home cooked meals.                                                                            1
I do not snack as often at school. I find that I'm always busy so sometimes I don't have a lot of time to eat.     1
My diet is more limited just because of what I have time to make                                                   1
less rice                                                                                                          1
Name: eating_changes, Length: 97, dtype: int64

Value counts for column eating_changes_coded:
1    61
2    26
3     7
4     3
Name: eating_changes_coded, dtype: int64

Value counts for column eating_changes_coded1:
3     35
5     23
2     13
4      8
8      4
11     4
10     3
7      2
1      1
6      1
9      1
13     1
12     1
Name: eating_changes_coded1, dtype: int64

Value counts for column eating_out:
2    49
3    19
1    11
5    10
4     8
Name: eating_out, dtype: int64

Value counts for column employment:
2.000000    44
3.000000    43
2.448276     8
1.000000     2
Name: employment, dtype: int64

Value counts for column ethnic_food:
5    33
4    29
3    18
2    13
1     4
Name: ethnic_food, dtype: int64

Value counts for column exercise:
1.000000    47
2.000000    34
1.589286     9
3.000000     7
Name: exercise, dtype: int64

Value counts for column father_education:
4.0    38
2.0    26
5.0    21
3.0    10
1.0     2
Name: father_education, dtype: int64

Value counts for column father_profession:
Dentist                         2
IT                              2
business owner                  2
Teacher                         2
Dentist                         1
                               ..
Corporate Manager               1
Biohemical Waste Elimination    1
Construction                    1
Optometrist                     1
CEO of company                  1
Name: father_profession, Length: 93, dtype: int64

Value counts for column fav_cuisine:
Italian                                     16
Italian                                     14
italian                                      6
Mexican                                      4
American                                     3
Chinese                                      3
Mexican                                      2
American                                     2
Chinese                                      2
italian                                      2
Indian                                       2
Asian                                        2
Korean                                       2
Thai                                         2
Indian food                                  1
Authentic Chinese and Vietnamese food        1
Any type of Colombian cuisine                1
Mexican cuisine                              1
Asian                                        1
Chinese food                                 1
Vietnamese cuisine                           1
mac and cheese                               1
italian and chinese                          1
Nepali                                       1
I do not like cuisine                        1
Barbecue                                     1
lebanese or greek                            1
Japanese                                     1
I really love italian food and thai food     1
Arabic cuisine                               1
Thai food                                    1
american                                     1
Chinese cuisine (General Tso's)              1
African                                      1
Anything american style.                     1
Seafood                                      1
Orange chicken and chow mani noodles         1
American or Italian                          1
Chicken                                      1
don't have one                               1
Italian food                                 1
French                                       1
American or Italian                          1
Italian or Chinese                           1
chinese                                      1
Greek                                        1
All                                          1
Wraps                                        1
Mexican Food                                 1
Name: fav_cuisine, dtype: int64

Value counts for column fav_cuisine_coded:
1    46
4    21
5    13
2     9
8     3
0     3
3     1
6     1
Name: fav_cuisine_coded, dtype: int64

Value counts for column fav_food:
1.000000    59
3.000000    31
2.000000     6
1.715447     1
Name: fav_food, dtype: int64

Value counts for column food_childhood:
Pizza                                       2
Steak                                       2
Mac and cheese                              2
Spaghetti                                   2
Chicken                                     2
                                           ..
Mac and Cheese, Hot Dogs, Grilled Cheese    1
pickles, chinese food, pizza                1
pizza, ice cream. pop tarts                 1
Chicken and steak                           1
Rice and potato                             1
Name: food_childhood, Length: 91, dtype: int64

Value counts for column fries:
1    88
2     9
Name: fries, dtype: int64

Value counts for column fruit_day:
5    52
4    25
3    15
2     4
1     1
Name: fruit_day, dtype: int64

Value counts for column grade_level:
1    28
2    27
4    22
3    20
Name: grade_level, dtype: int64

Value counts for column greek_food:
5    32
3    26
4    20
1    11
2     8
Name: greek_food, dtype: int64

Value counts for column healthy_feeling:
8     14
5     13
3     12
2     11
4     11
7     10
9      9
6      8
1      5
10     4
Name: healthy_feeling, dtype: int64

Value counts for column healthy_meal:
looks not oily                                                                                   1
high protein, low fat, low carbs and sugar                                                       1
half a plate of protein, quarter of a plate of carbs and the other quarter fruits or veggies.    1
Healthy meal for me is a food rich in protein, fiber, some sort of carbohydrates                 1
lots of variety and veggies                                                                      1
                                                                                                ..
a lean protein plus the addition of 2-3 fruits and vegetables                                    1
A protein, starch, veg, and a healthier dessert.                                                 1
a meal with a meat, vegetable, grain, and fruit                                                  1
Some kind of protein, a vegetable, and a grain                                                   1
lots of vegetables                                                                               1
Name: healthy_meal, Length: 97, dtype: int64

Value counts for column ideal_diet:
being healthy                                                                                                                 1
High protein, low fat                                                                                                         1
My ideal diet would be no processed food or fried food. Also, very low in excess carbs and high in protein.                   1
it would be a vegetarian diet without any red meat                                                                            1
Eating healthy with lots of water and natural foods.                                                                          1
                                                                                                                             ..
My ideal diet would be eating multiple fruits and vegetables at each meal. Also I would only eat lean protein if possible.    1
I would like to get all of the food groups in each day.                                                                       1
I wish I had the time and energy to cook more at home on my own.                                                              1
Pretty much what I eat now                                                                                                    1
lots of veggies                                                                                                               1
Name: ideal_diet, Length: 97, dtype: int64

Value counts for column ideal_diet_coded:
2    32
5    15
3    12
7    12
6    10
1    10
4     4
8     2
Name: ideal_diet_coded, dtype: int64

Value counts for column income:
6.0    37
5.0    22
4.0    15
3.0    13
2.0     6
1.0     4
Name: income, dtype: int64

Value counts for column indian_food:
5    29
3    25
1    18
2    13
4    12
Name: indian_food, dtype: int64

Value counts for column italian_food:
5    80
4    13
3     4
Name: italian_food, dtype: int64

Value counts for column life_rewarding:
1.0     18
8.0     14
7.0     11
3.0     11
2.0     10
9.0      9
10.0     8
5.0      8
4.0      5
6.0      3
Name: life_rewarding, dtype: int64

Value counts for column marital_status:
2.0    50
1.0    46
1.5     1
Name: marital_status, dtype: int64

Value counts for column meals_dinner_friend:
Chicken, Steak, Pasta                                     2
1. pasta 2. spaghetti 3. chicken and rice                 1
Pasta, chicken, pizza                                     1
any Chinese food, pasta, burgers                          1
Rice with vegetables, chicken with pasta, salad           1
                                                         ..
Chicken Parmesan, Orange Chicken, Tacos                   1
Pasta, Pizza, Chicken                                     1
spaghetti or pasta, shrimp fried rice, chicken            1
Some kind of pasta, a chicken dish, some kind of salad    1
meat, rice, kimchi                                        1
Name: meals_dinner_friend, Length: 96, dtype: int64

Value counts for column mother_education:
4.00000    36
2.00000    25
5.00000    17
3.00000    14
1.00000     4
3.42623     1
Name: mother_education, dtype: int64

Value counts for column mother_profession:
Teacher                   3
Nurse                     2
Homemaker                 2
Banker                    2
unemployed                1
                         ..
Head of Human Resouces    1
Homemaker                 1
Works in retail           1
stylist                   1
Real Estate manageer      1
Name: mother_profession, Length: 92, dtype: int64

Value counts for column nutritional_check:
2    31
4    30
3    20
5    10
1     6
Name: nutritional_check, dtype: int64

Value counts for column on_off_campus:
1.000000    76
2.000000    15
3.000000     3
4.000000     2
1.322581     1
Name: on_off_campus, dtype: int64

Value counts for column parents_cook:
1    58
2    29
3     9
5     1
Name: parents_cook, dtype: int64

Value counts for column pay_meal_out:
3    52
4    17
2    12
5     9
6     7
Name: pay_meal_out, dtype: int64

Value counts for column persian_food:
3.000000    25
1.000000    23
5.000000    17
2.000000    17
4.000000    14
2.806452     1
Name: persian_food, dtype: int64

Value counts for column self_perception_weight:
3.000000    30
4.000000    28
2.000000    25
1.000000     6
6.000000     4
5.000000     3
3.120968     1
Name: self_perception_weight, dtype: int64

Value counts for column soup:
1.0    75
2.0    22
Name: soup, dtype: int64

Value counts for column sports:
1.000000    69
2.000000    26
1.390244     2
Name: sports, dtype: int64

Value counts for column thai_food:
5    30
4    21
3    21
2    13
1    12
Name: thai_food, dtype: int64

Value counts for column tortilla_calories:
1165.000000    36
940.000000     34
725.000000     17
580.000000      9
947.580645      1
Name: tortilla_calories, dtype: int64

Value counts for column turkey_calories:
500    36
690    34
345    19
850     8
Name: turkey_calories, dtype: int64

Value counts for column type_sports:
none                       8
Hockey                     6
None                       5
softball                   4
Softball                   3
                          ..
skiing                     1
Water polo and running     1
Ice Hockey                 1
tennis                     1
basketball                 1
Name: type_sports, Length: 62, dtype: int64

Value counts for column veggies_day:
5    41
4    30
3    15
2     9
1     2
Name: veggies_day, dtype: int64

Value counts for column vitamins:
2    53
1    44
Name: vitamins, dtype: int64

Value counts for column waffle_calories:
1315    46
900     33
760     16
575      2
Name: waffle_calories, dtype: int64

Value counts for column weight:
150                         7
140                         7
185                         6
170                         6
190                         5
155                         5
175                         5
125                         5
165                         4
135                         4
200                         3
145                         3
180                         3
130                         3
120                         2
113                         2
160                         2
210                         2
127                         1
129                         1
128                         1
184                         1
138                         1
144 lbs                     1
112                         1
260                         1
167                         1
187                         1
192                         1
168                         1
100                         1
205                         1
105                         1
195                         1
123                         1
264                         1
110                         1
116                         1
137                         1
I'm not answering this.     1
156                         1
Name: weight, dtype: int64

In [36]:
df['Gender'].value_counts()
# No need to change anything

1    61
2    36
Name: Gender, dtype: int64

In [37]:
df['breakfast'].value_counts()
# No need to change anything

1    87
2    10
Name: breakfast, dtype: int64

In [38]:
df['calories_chicken'].value_counts()
# No need to change anything

610    49
720    22
430    21
265     5
Name: calories_chicken, dtype: int64

In [39]:
df['calories_day'].value_counts()

3.000000    53
4.000000    16
3.028302    14
2.000000    14
Name: calories_day, dtype: int64

In [40]:
df['calories_scone'].value_counts()

420.000000    62
315.000000    19
980.000000    15
505.241935     1
Name: calories_scone, dtype: int64

In [41]:
df['coffee'].value_counts()

2    70
1    27
Name: coffee, dtype: int64

In [42]:
df['comfort_food'].value_counts()

none                                                       1
ice cream, cookies, ice cream                              1
chips, ice cream, fruit snacks                             1
carrots, plantain chips, almonds, popcorn                  1
pizza, pasta, mac and cheese                               1
                                                          ..
chocolate, popcorn, ice cream                              1
chocolate, chips, candy                                    1
pizza, doughnuts, mcdonalds                                1
mac n cheese, peanut butter and banana sandwich, omelet    1
rice, potato, seaweed soup                                 1
Name: comfort_food, Length: 97, dtype: int64

In [43]:
df['comfort_food_reasons'].value_counts()

boredom                                              5
Boredom                                              3
boredom, sadness                                     2
stress, boredom                                      2
Stress and boredom                                   2
                                                    ..
All of the above; sadness, boredom and confusion     1
Usually if I'm sad or depressed.                     1
No reasons                                           1
boredom, stress                                      1
Loneliness / Homesick / Sadness                      1
Name: comfort_food_reasons, Length: 85, dtype: int64

In [44]:
df['comfort_food_reasons_coded'].value_counts()

2.000000    36
1.000000    19
3.000000    15
2.698113    15
9.000000     3
5.000000     3
4.000000     2
7.000000     2
6.000000     1
8.000000     1
Name: comfort_food_reasons_coded, dtype: int64

In [45]:
df['cook'].value_counts()

3.000000    40
2.000000    27
4.000000    12
1.000000    11
5.000000     6
2.786885     1
Name: cook, dtype: int64

In [46]:
df['cuisine'].value_counts()

1.000000    69
1.388889    12
2.000000     9
3.000000     2
6.000000     2
4.000000     2
5.000000     1
Name: cuisine, dtype: int64

In [47]:
df['diet_current'].value_counts()

eat good and exercise                                                                                                               1
I try to eat as healthy as possible. 3 meals a day that are well-balanced.                                                          1
I used to eat whatever but since i've come to college i try to eat fruits and vegetables everyday. I also avoid fried foods.        1
i currently eat a lot of salad, but do not eat 3 times a day nor eat breakfast                                                      1
I try to eat healthy but sometimes drink soda pop and I enjoy desserts. harder to eat healthy when I am at school.                  1
                                                                                                                                   ..
I eat three meals per day usually. I eat a lot of sandwiches and fruit.                                                             1
I do not get to eat as well as I did.  I wish I ate better, but in college it is hard because of money.                             1
I eat out more often then not. I try to make sure when I eat out it isn't fast food, but instead something healthy like Panera.     1
A lot of rice and veggies, eggs for breakfast, chicken is usually the only kind of meat I eat.                                      1
Rice, oatmeal, and tea                                                                                                              1
Name: diet_current, Length: 97, dtype: int64

In [48]:
df['diet_current_coded'].value_counts()

2    46
1    39
3    10
4     2
Name: diet_current_coded, dtype: int64

In [49]:
df['drink'].value_counts()

2.000000    51
1.000000    45
1.560976     1
Name: drink, dtype: int64

In [50]:
df['eating_changes'].value_counts()

eat faster                                                                                                         1
As an athlete it is important to fuel my body with important foods only.                                           1
i eat healthier all around                                                                                         1
I have been eating healthier especially vegetables and proteinous food                                             1
less healthy because of less options, money and time.                                                              1
                                                                                                                  ..
I have eaten bigger meals.                                                                                         1
I do not eat as many home cooked meals.                                                                            1
I do not snack as often at school. I find that I'm always busy so sometimes I don't have a lot of time to eat.     1
My diet is more limited just because of what I have time to make                                                   1
less rice                                                                                                          1
Name: eating_changes, Length: 97, dtype: int64

In [51]:
df['eating_changes_coded'].value_counts()

1    61
2    26
3     7
4     3
Name: eating_changes_coded, dtype: int64

In [52]:
df['eating_changes_coded1'].value_counts()

3     35
5     23
2     13
4      8
8      4
11     4
10     3
7      2
1      1
6      1
9      1
13     1
12     1
Name: eating_changes_coded1, dtype: int64

In [53]:
df['eating_out'].value_counts()

2    49
3    19
1    11
5    10
4     8
Name: eating_out, dtype: int64

In [54]:
df['employment'].value_counts()

2.000000    44
3.000000    43
2.448276     8
1.000000     2
Name: employment, dtype: int64

In [55]:
df['ethnic_food'].value_counts()

5    33
4    29
3    18
2    13
1     4
Name: ethnic_food, dtype: int64

In [56]:
df['exercise'].value_counts()

1.000000    47
2.000000    34
1.589286     9
3.000000     7
Name: exercise, dtype: int64

In [57]:
df['father_education'].value_counts()

4.0    38
2.0    26
5.0    21
3.0    10
1.0     2
Name: father_education, dtype: int64

In [58]:
df['father_profession'].value_counts()

Dentist                         2
IT                              2
business owner                  2
Teacher                         2
Dentist                         1
                               ..
Corporate Manager               1
Biohemical Waste Elimination    1
Construction                    1
Optometrist                     1
CEO of company                  1
Name: father_profession, Length: 93, dtype: int64

In [59]:
df['fav_cuisine'].value_counts()

Italian                                     16
Italian                                     14
italian                                      6
Mexican                                      4
American                                     3
Chinese                                      3
Mexican                                      2
American                                     2
Chinese                                      2
italian                                      2
Indian                                       2
Asian                                        2
Korean                                       2
Thai                                         2
Indian food                                  1
Authentic Chinese and Vietnamese food        1
Any type of Colombian cuisine                1
Mexican cuisine                              1
Asian                                        1
Chinese food                                 1
Vietnamese cuisine                           1
mac and cheese                               1
italian and chinese                          1
Nepali                                       1
I do not like cuisine                        1
Barbecue                                     1
lebanese or greek                            1
Japanese                                     1
I really love italian food and thai food     1
Arabic cuisine                               1
Thai food                                    1
american                                     1
Chinese cuisine (General Tso's)              1
African                                      1
Anything american style.                     1
Seafood                                      1
Orange chicken and chow mani noodles         1
American or Italian                          1
Chicken                                      1
don't have one                               1
Italian food                                 1
French                                       1
American or Italian                          1
Italian or Chinese                           1
chinese                                      1
Greek                                        1
All                                          1
Wraps                                        1
Mexican Food                                 1
Name: fav_cuisine, dtype: int64

In [60]:
df['fav_cuisine_coded'].value_counts()

1    46
4    21
5    13
2     9
8     3
0     3
3     1
6     1
Name: fav_cuisine_coded, dtype: int64

In [61]:
df['fav_food'].value_counts()

1.000000    59
3.000000    31
2.000000     6
1.715447     1
Name: fav_food, dtype: int64

In [62]:
df['food_childhood'].value_counts()

Pizza                                       2
Steak                                       2
Mac and cheese                              2
Spaghetti                                   2
Chicken                                     2
                                           ..
Mac and Cheese, Hot Dogs, Grilled Cheese    1
pickles, chinese food, pizza                1
pizza, ice cream. pop tarts                 1
Chicken and steak                           1
Rice and potato                             1
Name: food_childhood, Length: 91, dtype: int64

In [63]:
df['fries'].value_counts()

1    88
2     9
Name: fries, dtype: int64

In [64]:
df['fruit_day'].value_counts()

5    52
4    25
3    15
2     4
1     1
Name: fruit_day, dtype: int64

In [65]:
df['grade_level'].value_counts()

1    28
2    27
4    22
3    20
Name: grade_level, dtype: int64

In [66]:
df['greek_food'].value_counts()

5    32
3    26
4    20
1    11
2     8
Name: greek_food, dtype: int64

In [67]:
df['healthy_feeling'].value_counts()

8     14
5     13
3     12
2     11
4     11
7     10
9      9
6      8
1      5
10     4
Name: healthy_feeling, dtype: int64

In [68]:
df['healthy_meal'].value_counts()

looks not oily                                                                                   1
high protein, low fat, low carbs and sugar                                                       1
half a plate of protein, quarter of a plate of carbs and the other quarter fruits or veggies.    1
Healthy meal for me is a food rich in protein, fiber, some sort of carbohydrates                 1
lots of variety and veggies                                                                      1
                                                                                                ..
a lean protein plus the addition of 2-3 fruits and vegetables                                    1
A protein, starch, veg, and a healthier dessert.                                                 1
a meal with a meat, vegetable, grain, and fruit                                                  1
Some kind of protein, a vegetable, and a grain                                                   1
lots of vegetables                                                                               1
Name: healthy_meal, Length: 97, dtype: int64

In [69]:
df['ideal_diet'].value_counts()

being healthy                                                                                                                 1
High protein, low fat                                                                                                         1
My ideal diet would be no processed food or fried food. Also, very low in excess carbs and high in protein.                   1
it would be a vegetarian diet without any red meat                                                                            1
Eating healthy with lots of water and natural foods.                                                                          1
                                                                                                                             ..
My ideal diet would be eating multiple fruits and vegetables at each meal. Also I would only eat lean protein if possible.    1
I would like to get all of the food groups in each day.                                                                       1
I wish I had the time and energy to cook more at home on my own.                                                              1
Pretty much what I eat now                                                                                                    1
lots of veggies                                                                                                               1
Name: ideal_diet, Length: 97, dtype: int64

In [70]:
df['ideal_diet_coded'].value_counts()

2    32
5    15
3    12
7    12
6    10
1    10
4     4
8     2
Name: ideal_diet_coded, dtype: int64

In [71]:
df['income'].value_counts()

6.0    37
5.0    22
4.0    15
3.0    13
2.0     6
1.0     4
Name: income, dtype: int64

In [72]:
df['indian_food'].value_counts()

5    29
3    25
1    18
2    13
4    12
Name: indian_food, dtype: int64

In [ ]:
df.to_csv('foodsurvey_cleaned.csv', index=False)